---
import Layout from "../layouts/Layout.astro"
---

<Layout title="404 Not Found">
    <div class="flex flex-col justify-center items-center">
        <h2 class="text-7xl text-white font-bold mt-12">404</h2>
        <p class="text-white mt-6">Pagina no encontrada</p>
    </div>
</Layout>