---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
---

<Layout title="About the SpaceX Project">
	<div class="py-8 px-4 mx-auto text-center mb-8 lg:mb-16">
		<h1 class="mb-4 text-5xl tracking-tight font-extrabold text-white">About the SpaceX Project</h1>
		<p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">The SpaceX Launches Project is a demo to practise Aesto</p>
	</div>
</Layout>
